<%-include('./layout/nav.ejs') %>

<!-- <h1>Welcome TO User Home</h1> -->
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <style>
        .full-screen-image {
          width: 100%;
          height: 90%;
          object-fit: cover;
        }
        .wishlist-icon{
            display: flex;
            justify-content: flex-end;
        }
        .fas{
          color: rgb(167, 171, 169);
        }

  .single-product img {
    transition: transform 0.3s ease-in-out; /* Add transition property for smooth zoom effect */
  }
  .single-product img:hover {
    transform: scale(1.1); /* Add scaling transformation on hover */
  }
  .no-padding {
    padding-right: 0;
    padding-left: 0;
  }
      </style>
</head>
<body>
    <main>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Slides -->
            <div class="carousel-inner">
              <%if(bannerData){%>
                <% bannerData.forEach((img, index,categoryDataNav) => { %>
                
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                      <a href="/productview/<%=img.productId._id%>"><img src="<%= '/test/' + img.image %>" alt="" class="full-screen-image"></a>
                  </div>
                  <% }) %>
                <%}else{%>
                    <h1>no banner</h1>
                <%}%>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Auto move the carousel every 3 seconds
  setInterval(function() {
    $('.carousel').carousel('next');
  }, 7000);
});
</script>
<section style="background-color: #ffffff;">
    <div class="container py-5">
      <header class="mb-4">
        <h4 class="text-center mt-4 mb-5"><strong>Bestsellers</strong></h4>
      </header>
      <div class="row">
        <% if (products.length > 0) { %>
          <% products.forEach((item) => { %>
            <div class="col-lg-3 col-md-6 no-padding">
              <div class="single-product">
                <div class="favorit-items">
                 
                </div>
                <a href="/addWishlist/<%=item.id%>"  method="get"><span class="wishlist-icon" ><i class="fas fa-heart" id="wishlist-icon"></i></span ></a>
                <a href="/productview/<%= item._id %>">
                  <img class="img-fluid product-image" src="<%= '/product_images/' + item.image[0].fileName %>" alt="Product Image">
                </a>
                <div class="product-details" style="height: 50px; position: relative;">
                  <h6 class="product-name overflow-hidden"><%= item.name %></h6>
                  <div class="price">
                    <h6>₹<%= item.price.toFixed(2) %></h6>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <div class="col-12 text-center">
            <p>No products found.</p>
          </div>
        <% } %>
      </div>
    </div>
  </section>

<!-- 
                    
<section style="background-color: #ffffff;">
    <div class="container py-5" >
      <header class="mb-4">
        <h4 class="text-center mt-4 mb-5"><strong>Bestsellers</strong></h4>
      </header>
      <div class="row">
        <% if (products.length > 0) { %>
          <% products.forEach((item) => { %>
            <div class="col-lg-3 col-md-6">
              <div class="single-product">
                <div class="favorit-items">
                    <a href="/addWishlist/<%=item.id%>" method="get" > 
                    <span class="flaticon-heart"></span>
                </a>
                </div>
                <a href="/addWishlist/:Id"><span class="wishlist-icon"><i class="fas fa-heart" id="wishlist-icon"></i></span></a>
                <a href="/productview/<%= item._id %>">
                  <img class="img-fluid product-image" src="<%= '/product_images/' + item.image[0].fileName %>" alt="Product Image">
                </a>
                <div class="product-details" style="height: 50px; position: relative;">
                  <h6 class="product-name overflow-hidden"><%= item.name %></h6>
                  <div class="price">
                    <h6>₹<%= item.price.toFixed(2) %></h6>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>

   
      
        <% } else { %>
          <div class="col-12 text-center">
            <p>No products found.</p>
          </div>
        <% } %>
      </div>
    </div>
  </section> -->


            <div class="shop-method-area">
                <div class="container">
                    <div class="method-wrapper">
                        <div class="row d-flex justify-content-between">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-method mb-40">
                                    <i class="ti-package"></i>
                                    <h6>Free Shipping Method</h6>
                                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-method mb-40">
                                    <i class="ti-unlock"></i>
                                    <h6>Secure Payment System</h6>
                                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-method mb-40">
                                    <i class="ti-reload"></i>
                                    <h6>Secure Payment System</h6>
                                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shop Method End-->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                  <a href="index.html"><img src="assets/img/logo/logoEvolux.png" alt="" height="100px" width="170px"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do
                                            eiusmod tem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#"> Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

</body>

</html>